@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--foreground-rgb)) rgb(var(--background-start-rgb));
}
/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: rgb(44, 44, 44);
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(18, 24, 32);
  border-radius: 14px;
  border: 3px solid rgb(44, 44, 44);
}

@tailwind components;

.tooltip {
  @apply invisible opacity-0 absolute;
  @apply transition-all duration-300;
}

.has-tooltip:hover .tooltip {
  @apply visible opacity-100 z-50;
}

@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    min-height: 100%;
    width: 100%;
    display: flex;
}
